{% extends 'layout.html.twig' %}

{% block title %}Upay{% endblock %}

{% block sidebar %}
    <div class=" form-img">
        <img src="{{ asset('img/payment-1.png') }}" alt="payment" class="img">
    </div>
{% endblock %}

{% block main_content %}
    <div class="main-list">
        <ul>
            <li><b>Get started quickly.</b> Integrate with developer-friendly APIs or choose low-code or pre-built solutions.</li>
            <li><b>Support any business model.</b> E-commerce, subscriptions, SaaS platforms, marketplaces, and more—all within a unified platform.
            </li>
            <li><b>Join millions of businesses.</b> Upay is trusted by ambitious startups and enterprises of every size.</li>
        </ul>
    </div>
{% endblock %}


